In [1]:
import pandas as pd
import gspread
from oauth2client.service_account import ServiceAccountCredentials
from datetime import datetime

# Authenticate
scope = ["https://spreadsheets.google.com/feeds", "https://www.googleapis.com/auth/drive"]
creds = ServiceAccountCredentials.from_json_keyfile_name("key-health-tracker-467110-d943f673a0e7.json", scope)
client = gspread.authorize(creds)

# Sheet URLs
food_data_url = "https://docs.google.com/spreadsheets/d/1aUMNQ3pNA2NS0tO9rLGosJ94wnxOIovHyS3wPgALIV0"
food_log_url = "https://docs.google.com/spreadsheets/d/1S7eZcymG-y-DtFKyUgYRNmNVdmyBCVaD8rG2XsGpEMw"
cycle_tracker_url = "https://docs.google.com/spreadsheets/d/1HIp1NC_SuYu1vIE41TTY-PKEnnbXHqxaYVDYEvFm7-8"

# Open the sheets
food_data_ws = client.open_by_url(food_data_url).sheet1
food_log_ws = client.open_by_url(food_log_url).worksheet("Worksheet")
cycle_ws = client.open_by_url(cycle_tracker_url).worksheet("Cycle 6")

# Load into DataFrames
food_data = pd.DataFrame(food_data_ws.get_all_records())
food_log = pd.DataFrame(food_log_ws.get_all_records())
cycle_df = pd.DataFrame(cycle_ws.get_all_records())

food_data.info()
food_log.info()
cycle_df.info()

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Food       86 non-null     object
 1   Alias      86 non-null     object
 2   Unit       86 non-null     object
 3   Per Unit   86 non-null     int64
 4   Kcal       86 non-null     int64
 5   Protein g  86 non-null     float64
 6   Carb g     86 non-null     float64
 7   Fat g      86 non-null     float64
dtypes: float64(3), int64(2), object(3)
memory usage: 5.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          22 non-null     object
 1   Food          22 non-null     object
 2   Manual Input  22 non-null     object
 3   Unit          22 non-null     object
 4   Conversion    22 non-null     object
 5   Value         22 non-null     float64
 6   Kcal          22 non-null     object
 7   P             22 non-null     object
 8   C             22 non-null     object
 9   F             22 non-null     object
dtypes: float64(1), object(9)
memory usage: 1.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cycle Day     27 non-null     int64
 1   Phase         27 non-null     object
 2   Date          27 non-null     object
 3   Calories      27 non-null     object
 4   Protein (g)   27 non-null     object
 5   Carbs (g)     27 non-null     object
 6   Fat (g)       27 non-null     object
 7   Exercise      27 non-null     object
 8   Mood / Notes  27 non-null     object
dtypes: int64(1), object(8)
memory usage: 2.0+ KB

In [2]:
# Normalize food names
food_data.columns = food_data.columns.str.strip()
food_log.columns = food_log.columns.str.strip()
cycle_df.columns = cycle_df.columns.str.strip()
food_data['Food'] = food_data['Food'].str.strip().str.lower()
food_data['Alias'] = food_data['Alias'].str.strip().str.lower()
food_log['Food'] = food_log['Food'].str.strip().str.lower()

In [3]:
# Add the validation for empty Values
records = []
for _, row in food_log.iterrows():
    if row['Manual Input'] == 'Y':
        records.append({
            "Date": row["Date"],
            "Calories": row["Kcal"],
            "Protein (g)": row["P"],
            "Carbs (g)": row["C"],
            "Fat (g)": row["F"]
        })
    else:
        food_name = row['Food']
        value_str = str(row.get('Value', '')).strip()
        
        if not value_str:
            print(f"⚠️ Skipping: No value for '{food_name}' on {row['Date']}")
            continue  # skip this row if no value entered
    
        try:
            value = float(value_str)
        except ValueError:
            print(f"⚠️ Skipping: Invalid number '{value_str}' for '{food_name}' on {row['Date']}")
            continue

        # Apply conversion if available
        conversion_str = str(row.get('Conversion', '')).strip()
        if conversion_str:
            try:
                value *= float(conversion_str)
            except ValueError:
                print(f"⚠️ Invalid conversion factor '{conversion_str}' for {food_name}, ignoring.")

        match = food_data[(food_data['Food'] == food_name) | (food_data['Alias'] == food_name)]
        if not match.empty:
            ref = match.iloc[0]
            factor = value / float(ref["Per Unit"])
            records.append({
                "Date": row["Date"],
                "Calories": factor * float(ref["Kcal"]),
                "Protein (g)": factor * float(ref["Protein g"]),
                "Carbs (g)": factor * float(ref["Carb g"]),
                "Fat (g)": factor * float(ref["Fat g"])
            })
        else:
            print(f"⚠️ No match found for '{food_name}' — check staples or alias.")

In [4]:
# Group by Date
df = pd.DataFrame(records)
df["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y")
daily_totals = df.groupby("Date").sum().reset_index()

display(daily_totals)
# Merge into cycle tracker
cycle_df["Date"] = pd.to_datetime(cycle_df["Date"], format="%d/%m/%Y", 
                                  errors="coerce")  # keeps blank rows as NaT
display(cycle_df)

        Date  Calories  Protein (g)  Carbs (g)  Fat (g)
0 2025-07-26   2123.61       86.735     212.16   80.355
1 2025-07-27   2148.61       89.235     214.16   81.355

,Cycle Day,Phase,Date,Calories,Protein (g),Carbs (g),Fat (g),Exercise,Mood / Notes
0,1,Menstrual,2025-07-19,1794,87,239,53,walk 11.5k steps,slept at midnight
1,2,Menstrual,2025-07-20,1923,97,227,77,walk 18.4k steps,slept at 1
2,3,Menstrual,2025-07-21,2148,116,255,74,"walk 10.3k steps, weightlifting",slept at midnight
3,4,Menstrual,2025-07-22,1701,73,199,68,"walk 6.8k steps, weightlifting",slept at midnight
4,5,Follicular,2025-07-23,2160,118,208,96,weightlifting,slept at midnight
5,6,Follicular,2025-07-24,2187,66,228,103,walk 7.6k steps,slept at 1.30 haha
6,7,Follicular,2025-07-25,2171,83,219,107,walk 8.4k steps,slept at midnight
7,8,Follicular,2025-07-26,2123.61,86.735,212.16,80.355,,
8,9,Follicular,2025-07-27,,,,,,
9,10,Follicular,NaT,,,,,,
10,11,Follicular,NaT,,,,,,
11,12,Follicular,NaT,,,,,,
12,13,Ovulatory,NaT,,,,,,
13,14,Ovulatory,NaT,,,,,,
14,15,Ovulatory,NaT,,,,,,
15,16,Luteal,NaT,,,,,,
16,17,Luteal,NaT,,,,,,
17,18,Luteal,NaT,,,,,,
18,19,Luteal,NaT,,,,,,
19,20,Luteal,NaT,,,,,,
20,21,Luteal,NaT,,,,,,
21,22,Luteal,NaT,,,,,,
22,23,Luteal,NaT,,,,,,
23,24,Luteal,NaT,,,,,,
24,25,Luteal,NaT,,,,,,
25,26,Luteal,NaT,,,,,,
26,27,Luteal,NaT,,,,,,

In [5]:
# display(cycle_df)
merged = pd.merge(cycle_df, daily_totals, on="Date", how="left", suffixes=('', '_new'))
display(merged)

,Cycle Day,Phase,Date,Calories,Protein (g),Carbs (g),Fat (g),Exercise,Mood / Notes,Calories_new,Protein (g)_new,Carbs (g)_new,Fat (g)_new
0,1,Menstrual,2025-07-19,1794,87,239,53,walk 11.5k steps,slept at midnight,NaN,NaN,NaN,NaN
1,2,Menstrual,2025-07-20,1923,97,227,77,walk 18.4k steps,slept at 1,NaN,NaN,NaN,NaN
2,3,Menstrual,2025-07-21,2148,116,255,74,"walk 10.3k steps, weightlifting",slept at midnight,NaN,NaN,NaN,NaN
3,4,Menstrual,2025-07-22,1701,73,199,68,"walk 6.8k steps, weightlifting",slept at midnight,NaN,NaN,NaN,NaN
4,5,Follicular,2025-07-23,2160,118,208,96,weightlifting,slept at midnight,NaN,NaN,NaN,NaN
5,6,Follicular,2025-07-24,2187,66,228,103,walk 7.6k steps,slept at 1.30 haha,NaN,NaN,NaN,NaN
6,7,Follicular,2025-07-25,2171,83,219,107,walk 8.4k steps,slept at midnight,NaN,NaN,NaN,NaN
7,8,Follicular,2025-07-26,2123.61,86.735,212.16,80.355,,,2123.61,86.735,212.16,80.355
8,9,Follicular,2025-07-27,,,,,,,2148.61,89.235,214.16,81.355
9,10,Follicular,NaT,,,,,,,NaN,NaN,NaN,NaN
10,11,Follicular,NaT,,,,,,,NaN,NaN,NaN,NaN
11,12,Follicular,NaT,,,,,,,NaN,NaN,NaN,NaN
12,13,Ovulatory,NaT,,,,,,,NaN,NaN,NaN,NaN
13,14,Ovulatory,NaT,,,,,,,NaN,NaN,NaN,NaN
14,15,Ovulatory,NaT,,,,,,,NaN,NaN,NaN,NaN
15,16,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
16,17,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
17,18,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
18,19,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
19,20,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
20,21,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
21,22,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
22,23,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
23,24,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
24,25,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
25,26,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN
26,27,Luteal,NaT,,,,,,,NaN,NaN,NaN,NaN

In [6]:
# Update only if new data is available
for col in ["Calories", "Protein (g)", "Carbs (g)", "Fat (g)"]:
    new_col = col + "_new"
    if new_col in merged:
        merged[col] = merged[new_col].combine_first(merged[col])
        merged.drop(columns=[new_col], inplace=True)
        merged
# Convert only the 'Date' column to string (with your desired format)
merged["Date"] = merged["Date"].dt.strftime("%d/%m/%Y")
merged = merged.replace([pd.NA], '')

In [7]:
values = [merged.columns.tolist()] + merged.values.tolist()
cycle_ws.update(values, 'A1')
print("💕 cycle tracker updated.")

/Users/sekarlangit/opt/anaconda3/lib/python3.9/site-packages/gspread/worksheet.py:1069: UserWarning: [Deprecated][in version 6.0.0]: method signature will change to: 'Worksheet.update(value = [[]], range_name=)' arguments 'range_name' and 'values' will swap, values will be mandatory of type: 'list(list(...))'
  warnings.warn(

💕 cycle tracker updated.